# Flutter & Dart gitignore
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE & Editor files
.idea/
*.iml
.vscode/
*.swp
*.swo

# Node & OS temporary files
node_modules/
.DS_Store
Thumbs.db
